<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <appSettings>
		<add key="Path" value="C:\Inetpub\wwwroot\wsInterfaz164\Out\"/>
		<add key="PathSaveZip" value="C:\Inetpub\wwwroot\wsInterfaz164\Out\"/>
		<add key="LinkDownload" value="http://192.168.100.211/wsInterfaz164/Out/"/>
		<add key="EvaluarPwd" value="N"/>
		<add key="PathInvFactRep" value="C:\Inetpub\wwwroot\SicobonV2\Reportes\"/>
		<add key="LinkDownloadInvfact" value="http://192.168.100.211/wsInterfaz164/Out/"/>
		<add key="MailHost" value="smtp.office365.com" />
		<add key="MailPort" value="587" />
		<add key="MailFrom" value="flpnotificaciones1@foreverliving.com.mx" />
		<add key="MailUser" value="flpnotificaciones1@foreverliving.com.mx" />
		<add key="MailPWD" value="Vuda3452" />
		<add key="MailShowName" value="Notificaciones FLP México" />
		<add key="WhereToSavePDF" value="C:\Users\programador\OneDrive - Forever Living Products S. de R.L. de C.V\bk_sp\inetpub\wwwroot\wsInterfaz164\Out\"/>
		<add key="WhereToRead" value="C:\Users\programador\OneDrive - Forever Living Products S. de R.L. de C.V\bk_sp\inetpub\wwwroot\wsInterfaz164\Files\"/>
		<add key="WhereToSaveQRCode" value="C:\Users\programador\OneDrive - Forever Living Products S. de R.L. de C.V\bk_sp\inetpub\wwwroot\wsInterfaz164\Out\"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="ServidorConnWS2" connectionString="Data Source=201.163.145.165;Initial Catalog=ForeverVenezuela;User ID=sa;Password=" providerName="System.Data.SqlClient"/>-->
		<add name="ServidorConnWS2" connectionString="Data Source=201.163.229.202;Initial Catalog=Forever;User ID=ConMexico;Password=ForeverMEX$" providerName="System.Data.SqlClient"/>
		<add name="ConnWSSICOBONv2" connectionString="Data Source=201.163.229.202;Initial Catalog=SicobonV2;User ID=ConMexico;Password=ForeverMEX$" providerName="System.Data.SqlClient"/>
		<add name="TestEcomMex" connectionString="Data Source=54.162.221.42;Initial Catalog=TestEcomMexico;User ID=sa;Password=Flpmex2015" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <system.web>
        <!-- 
            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los 
            tipos de datos donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
        <compilation debug="true" strict="false" explicit="true">
 
			
        </compilation>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows" />
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
        <pages>
          <namespaces>
            <clear />
            <add namespace="System" />
            <add namespace="System.Collections" />
            <add namespace="System.Collections.Generic" />
            <add namespace="System.Collections.Specialized" />
            <add namespace="System.Configuration" />
            <add namespace="System.Text" />
            <add namespace="System.Text.RegularExpressions" />
            <add namespace="System.Web" />
            <add namespace="System.Web.Caching" />
            <add namespace="System.Web.SessionState" />
            <add namespace="System.Web.Security" />
            <add namespace="System.Web.Profile" />
            <add namespace="System.Web.UI" />
            <add namespace="System.Web.UI.WebControls" />
            <add namespace="System.Web.UI.WebControls.WebParts" />
            <add namespace="System.Web.UI.HtmlControls" />
          </namespaces>
        </pages>
    </system.web>

</configuration>
